/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* Fin du reset */

/* Début des polices */
@font-face {
    font-family: "Gastromond";
    src: url("Gastromond.woff2"), url("Gastromond.woff");
  }

  ul{
      list-style: none;
  }
  
  @font-face {
    font-family: "Superclarendon";
    src: url("Superclarendon-Regular.woff2"), url("Superclarendon-Regular.woff");
  }

  /* fin des polices */

body
{
    overflow-x: hidden;
    position: relative;
    padding-bottom: 5em;
    background-color: #ffffff;

}

header{
    background-image: url(./background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: "Superclarendon";
}

header{
    justify-content: center;
    text-align: center;
}

.plus{
    margin-left: 15px;
    border-radius: 20px;
    background-color: white;
}

footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;  
    background-color: #62755B;
    justify-content: center;
    text-align: center;

    
}

.bottom figure { 
    text-align: center;
    color: #FFFF; 
    display: inline-block;
    justify-content: center;
    padding: 2%
} 

.livre{
    color: #F0BC00;
}

.pseudo{
    font-size: 30px;
}
.top { 
    display: flex;
    text-align: center;
    justify-content: center;
}

.top th{ 
    justify-content: center;
}

main
{
    font-family: "Superclarendon";
}

h2
{
    font-family: "Gastromond";
    font-size: 20px;
    margin: 15px;
}

.button-base
{
    background-color: #42593C;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.livre{
    color: #F0BC00;
}
.planning{
    font-size: 18px;
    background-color: #C3F3B7;
    font-family: "Superclarendon-light";
    border-radius: 16px;
}

.listePourCourse{
    font-size: 18px;
    background-color: #C3F3B7;
    font-family: "Superclarendon-light";
    border-radius: 16px;
}

.jourSemaine{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    margin-top: 10px;
}

.uneRecette img
{
    max-width: 90%;
}

.uneRecette
{
justify-content: center;
text-align: center;
display: flex;
}


.troisRecette img
{
    max-width: 90%;
}
.troisRecette
{
    justify-content: center;
    text-align: center;
    display: flex;
    font-family: "Superclarendon";
    gap: 25px;

}

.plus{
    margin-bottom: 30px;
    height: 30px;
    width: 30px;
}

.aliment-course{
    margin-left:73px;
    margin-bottom: 25px;
    font-family: "Superclarendon";
}

.button-arriere{
    transform: rotate(180deg);
    position: absolute;
    margin-top: 60px;
    margin-left: -70px;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: #C3F3B7;
}


nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filtrer{
    text-align: center;
    padding: 35px;
    border-radius: 20px;
}

.selction-non{
    background-color: #42593C;
    font-size: 18px;
    font-family: "Superclarendon-light";
    border-radius: 16px;
    opacity: 50%;
}

.selction-jour{
    background-color: #C3F3B7;
    font-size: 18px;
    font-family: "Superclarendon-light";
    border-radius: 16px;
}




@media screen and (max-width: 850px){
    nav{
        display: none;
    }
    .photo-des{
        display: none;
    }
    .jour-desk{
        display: none;
    }
    h3{
        display: none;
    }
    .content-footer{
        display: none;
    }
}

@media screen and (min-width: 850px) {
    footer {
      padding-bottom: 0em;
      display: none;


    }
    .bottom{
        display: none;
    }

    .button-base
{
    background-color: #42593C;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    border-radius: 10%;
}
    .planning{
    font-size: 40px;
}
    .btn{
        text-decoration:none; 

    }
    h2{
        text-align: center;
        margin-top: 50px;
        font-size: 30px;
    }
    .listePourCourse{
    font-size: 40px;
}
    h3{
    display: none;
}
    header{
        background-image: none;
        /* border: 2px solid; */
        /* margin-left: 10px;
        margin-right: 10px; */
        background-color: #42593C;
        height: 132px;
        margin-bottom: 10px;
        font-family: "Gastromond";
        margin-left: 5px;
        margin-right: 5px;
    }
    .fleche{
        display: none;
    }
    footer{
        background-color: #C3F3B7;
    }
    .button-arriere
    {
        display: none;
    }
    .photo-profil
    {
        display: none;
    }
    .pseudo
    {
        display: none;
    }
    .logo-home{
        margin-top: 57px; 
        margin-left: 10px;
    }
    .selction-jour{
        font-size: 50px;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    .troisrecette{
        margin: 70px;
    }
    .selction-non{
        font-size: 40px;
        margin-bottom: 25px;
        margin-left: 10px;
    }
    .btn{
        margin-right: 10px;
    }
    .style-1{
        font-size: 25px;
    }
    .jourSemaine{
        display: none;
    }
    .photo-des{
        text-align: center;
    }
    .aliment-course{
        margin-left:300px;
        margin-bottom: 50px;
    }
    .jour-desk{
        float: left;
        width: 30%;
        height: 900px;
        margin-top: 50px;
    }
    .filtrer{
        margin-bottom: 30px;
    }
    .welcome{
        font-size: 25px;
        font-family: "Superclarendon-light";
        margin: 30px;
    }
    
  }




  